.vs/
.vscode/
bin/
obj/
**/bin/
**/obj/
.platform/
platforms/*/bin/
platforms/*/obj/
backend/firebase-key.json 
SantaCecilia.slnLaunch.user
frontend/frontend.csproj.user
frontend/frontend.csproj.Backup.tmp
/frontend/Configuration/AppSettings.cs
