.vs/
.vscode/
bin/
obj/
**/bin/
**/obj/
.platform/
platforms/*/bin/
platforms/*/obj/
backend/firebase-key.json 
*.slnLaunch.user
*.csproj.user
*.csproj.Backup.tmp
backend/appsettings-local.json
frontend/appsettings-local.json
publish/